apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: supplychainattestations.devsecops.licenta.ro
spec:
  group: devsecops.licenta.ro
  names:
    kind: SupplyChainAttestation
    plural: supplychainattestations
    singular: supplychainattestation
    shortNames:
      - sca
  scope: Cluster
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                target:
                  type: object
                  properties:
                    ztaName:
                      type: string
                    ztaNamespace:
                      type: string
                    selector:
                      type: object
                      properties:
                        matchLabels:
                          type: object
                          additionalProperties:
                            type: string
                sourceValidation:
                  type: object
                  properties:
                    enforceCosign:
                      type: boolean
                      default: true
                    trustedIssuers:
                      type: array
                      items:
                        type: string
                sbomPolicy:
                  type: object
                  properties:
                    enforceSBOM:
                      type: boolean
                      default: true
                    forbiddenPackages:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          maxVersion:
                            type: string
                policyBinding:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      default: true
                    requireAttestationType:
                      type: string
                      default: https://devsecops.licenta.ro/attestations/custom-zta-policy/v1
                strictManifestHash:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      default: false
                    enforcementAction:
                      type: string
                      enum: [Reject, Alert]
                      default: Reject
                runtimeEnforcement:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      default: true
                    onPolicyDrift:
                      type: string
                      enum: [Isolate, Kill, Alert]
                      default: Isolate
              required:
                - target
      additionalPrinterColumns:
        - name: DriftAction
          type: string
          jsonPath: .spec.runtimeEnforcement.onPolicyDrift
